/* bottom bar styling */
.bottom_bar {
    border:1px solid #f8f8f8;
    background:white !important;
    box-shadow: 0 0 20px #f8f8f8;
    padding:0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.bottom_options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
}

.option_detail {
    padding:8px 14px;
    text-align: center;
    color:#A9A9A7;
}

.option_heading {
    font-size: 10px;
    margin:0;
}

.active_tab {
    border-top: 2px solid orange;
    color: black;
}

/* topbar styling */
.top_bar {
    background: #F7993A !important;
}

.topbar_body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:14px;
    color:black;
}

.logo_heading {
    font-weight: 700;
}

.primary_button {
    background:#ff8896;
    color:white;
    font-weight: 700;
    border:0;
    border-radius: 4px;
    font-size: 16px;
    outline:0;
}

.form_field {
    border:1px solid #b6cbff;
    font-size: 14px;
    border-radius: 5px;
    outline:0;
}

.react-tagsinput-tag {
    margin-bottom: 0 !important;
    background:rgb(245, 246, 255) !important;
    border:1px solid rgb(140, 200, 255) !important;
    border-radius: 2px !important;
    padding:3px 10px 3px 6px !important;
}
.react-tagsinput-input  {
    margin-bottom: 0 !important;
}

